backend/FoundationBackend/.idea/**
backend/FoundationBackend/lib/**
backend/FoundationBackend/out/**
backend/FoundationBackend/FoundationBackend.iml
backend/FoundationBackend/target/**
.idea/**
*.iml
out/**
frontend/.idea/**



